[user]
  name = Jimmy Charnley Kromann
  email = jimmy@charnley.dk

[color]
  diff = auto
  status = auto
  branch = auto

[color "diff"]
  meta = yellow

[core]
  excludesfile = ~/.gitignore
  editor = vim --noplugin

[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

[push]
	default = simple
