! Xresources
! Resources for xterm and more
!
! Use Resources
! xrdb .Xresources
!
! Merge Resources
! xrdb -merge .Xresources
!

!
! Code copied from different sources
! from googling around the inter-webs.
!
! Including:
! - http://blog.ssokolow.com/archives/2011/05/01/modernizing-xterms-paste/
!


!
! CONFIG
!

! 
xterm*loginshell: true

! How many lines of scrollback?
xterm*savelines: 1600

! double-click to select URLS
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false


!
! STYLE
!

! Use a nice truetype font and size by default
xterm*faceName: Monaco
xterm*faceSize: 10

! Colours: oh, the darkness
xterm*background:            #111111
xterm*foreground:            #EEEEEE
xterm*cursorColor:           #999999
xterm*colorBD:               #FFFFFF
xterm*colorUL:               #CCCC66
! Black
xterm*color0:               #333333
xterm*color8:               #999999
! Red
xterm*color1:               #CC3366
xterm*color9:               #FF6699
! Green
xterm*color2:               #66CC33
xterm*color10:              #99FF66
! Yellow
xterm*color3:               #CC9933
xterm*color11:              #FFCC66
! Blue
xterm*color4:               #3366CC
xterm*color12:              #6699FF
! Magenta
xterm*color5:               #9933CC
xterm*color13:              #CC66FF
! Cyan
xterm*color6:               #33CC99
xterm*color14:              #66FFCC
! White
xterm*color7:               #CCCCCC
xterm*color15:              #FFFFFF


!
! Terminal Shortcuts
!

! Shortcuts
!  Scrolling:
!   Scroll Wheel
!   Shift-PgUp/PgDn
!
! Copy/Paste
!  Mouse-Select        : Copy to PRIMARY
!  Shift + Mouse-Select: Copy to CLIPBOARD
!
!  Middle-Click        : Paste from PRIMARY
!  Shift + Middle-Click: Paste from CLIPBOARD
!  Ctrl+Shift+V        : Paste from CLIPBOARD
!  Ctrl+Alt+Shift+V    : Paste from PRIMARY
!
*VT100.Translations: #override \
  Shift <Key>Up:              scroll-back(1) \n\
  Shift <Key>Down:            scroll-forw(1) \n\
  ~Meta Shift Ctrl <Key>V:    insert-selection(CLIPBOARD) \n\
  Meta Shift Ctrl <Key>V:     insert-selection(PRIMARY) \n\
  ~Shift <Btn1Up>:            select-end(PRIMARY, CUT_BUFFER0) \n\
  Shift <Btn1Up>:             select-end(CLIPBOARD, CUT_BUFFER1) \n\
  ~Shift ~Ctrl ~Meta <Btn2Up>:insert-selection(PRIMARY, CUT_BUFFER0) \n\
  Shift ~Ctrl ~Meta <Btn2Up>: insert-selection(CLIPBOARD, CUT_BUFFER1)

